<% include ../partials/header %>
<div class="campground-new-container">
  <nav class="panel campground-new-panel">
    <h1 class="panel-heading">Edit comment</h1>
    <div class="panel-block">
      <form class="campground-new-form" method="POST" action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT">
        <div class="field">
          <label class="label">Text</label>
          <div class="control">
            <textarea name="comment[text]" class="textarea" required><%= comment.text %></textarea>
          </div>
        </div>
        <a href="/campgrounds/<%= campground_id %>" class="button">Back <span class="fa fa-arrow-left"></span></a>
        <button class="button is-success">Edit</button>
        </div>
      </form>
    </div>
  </nav>
</div>

<% include ../partials/footer %>