<!DOCTYPE html>
<html>
  <head>
    <title> YelpCamp Project </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bulma.css"></link>
    <link rel="stylesheet" href="/stylesheets/style.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
  </head>
  <body>
  <section class="landing-page hero is-transparent is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"> Welcome to YelpCamp</h1>
        <a href="/campgrounds" class="button is-primary">View all campgrounds</a>
      </div>
    </div>
  </section>
</html>