<% include partials/header %>
<div class="container auth-form">
  <h1 class="title is-dark">Log in</h1>
  <form action="/login" method="POST">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" name="username" placeholder="your username" required>
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" name="password" placeholder="your password" required>
      </div>
    </div>
    <button class="button is-primary">Log in</button>
  </form>
</div>

<% include partials/footer %>